.row
  .col-md-12
    %h2 Dashboard
.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          - if current_user.company.nil?
            You do not belong to a company
          - else
            Company:
            = current_user.company.name
      .panel-body
        - if current_user.company.nil?
          = link_to 'Create a Company', new_company_path
        -else
          = link_to 'edit' , [:edit, current_user.company]